/modules/contrib
/libraries
config.php
tests/behat/.idea/
.gitignore
.docker-sync
vendor
/themes/ddbasic/scripts/min
/themes/ddbasic/sass_css_verbose_output

# Ignore Mac files
.DS_STORE

# Ignore node_modules
node_modules

# Ignore compiled css
sass_css
sass_css_verbose_output

# Ignore minified js
/themes/bbs/scripts/min/

# Ignore idea files
.idea/
