#bbs-red {
  .site-header {
    .topbar {
      background-color: #b03033;
    }
    .navigation-wrapper {
      background-color: #b03033;
    }
    .user-menu {
      background-color: #b03033;
    }
  }

  .bbs-layout-content {
    .logo-wrapper {
      background-color: #b03033;
    }
    .secondary-content {
      .slick-arrow {
        background-color: #b03033;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: #b03033 !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: #b03033 !important;
      }
    }
    .bbs-color-background {
      .carousel-list-tabs {
        & .active a {
          color: white !important;
        }
      }
      .slick-arrow {
        &::after {
          background-color: #b03033 !important;
        }
      }
    }
    .see-all,
    .more-link {
      background-color: #B03033;
    }
  }
}

#bbs-seagreen {
  .site-header {
    .topbar {
      top: 0;
      background-color: #47A49D;
    }
    .navigation-wrapper {
      background-color: #47A49D;
    }
    .user-menu {
      background-color: #47A49D;
    }
  }

  .bbs-layout-content {
    .logo-wrapper {
      background-color: #47A49D;
    }
    .secondary-content {
      .slick-arrow {
        background-color: #47A49D;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: #47A49D !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: #47A49D !important;
      }
    }
    .bbs-color-background {
      .carousel-list-tabs {
        & .active a {
          color: white !important;
        }
      }
      .slick-arrow {
        &::after {
          background-color: #47A49D !important;
        }
      }
    }
    .see-all,
    .more-link {
      background-color: #47A49D;
    }
  }
}

#bbs-limegreen {
  .site-header {
    .topbar-inner-bbs {
      top: 0;
      background-color: #99C355;
    }
    .navigation-wrapper {
      background-color: #99C355;
    }
    .user-menu {
      background-color: #99C355;
    }
  }

  .bbs-layout-content {
    .logo-wrapper {
      background-color: #99C355;
    }
    .secondary-content {
      .slick-arrow {
        background-color: #99C355;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: #99C355 !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: #99C355 !important;
      }
    }
    .bbs-color-background {
      .carousel-list-tabs {
        & .active a {
          color: white !important;
        }
      }
      .slick-arrow {
        &::after {
          background-color: #99C355 !important;
        }
      }
    }
    .see-all,
    .more-link {
      background-color: #99C355;
    }
  }
}

#bbs-orange {
  .site-header {
    .topbar {
      background-color: #EB983F;
    }
    .navigation-wrapper {
      background-color: #EB983F;
    }
    .user-menu {
      background-color: #EB983F;
    }
  }

  .bbs-layout-content {
    .logo-wrapper {
      background-color: #EB983F;
    }
    .secondary-content {
      .slick-arrow {
        background-color: #EB983F;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: #EB983F !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: #EB983F !important;
      }
    }
    .bbs-color-background {
      .carousel-list-tabs {
        & .active a {
          color: white !important;
        }
      }
      .slick-arrow {
        &::after {
          background-color: #EB983F !important;
        }
      }
    }
    .see-all,
    .more-link {
      background-color: #EB983F;
    }
  }
}

#bbs-darkorange {
  .site-header {
    .topbar {
      background-color: #E36D38;
    }
    .navigation-wrapper {
      background-color: #E36D38;
    }
    .user-menu {
      background-color: #E36D38;
    }
  }

  .bbs-layout-content {
    .logo-wrapper {
      background-color: #E36D38;
    }
    .secondary-content {
      .slick-arrow {
        background-color: #E36D38;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: #E36D38 !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: #E36D38 !important;
      }
    }
    .bbs-color-background {
      .carousel-list-tabs {
        & .active a {
          color: white !important;
        }
      }
      .slick-arrow {
        &::after {
          background-color: #E36D38 !important;
        }
      }
    }
    .see-all,
    .more-link {
      background-color: #E36D38;
    }
  }
}

#bbs-purple {
  .site-header {
    .topbar {
      background-color: #5F338C;
    }
    .navigation-wrapper {
      background-color: #5F338C;
    }
    .user-menu {
      background-color: #5F338C;
    }
  }

  .bbs-layout-content {
    .logo-wrapper {
      background-color: #5F338C;
    }
    .secondary-content {
      .slick-arrow {
        background-color: #5F338C;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: #5F338C !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: #5F338C !important;
      }
    }
    .bbs-color-background {
      .carousel-list-tabs {
        & .active a {
          color: white !important;
        }
      }
      .slick-arrow {
        &::after {
          background-color: #5F338C !important;
        }
      }
    }
    .see-all,
    .more-link {
      background-color: #5F338C;
    }
  }
}

#bbs-lightblue {
  .site-header {
    .topbar {
      background-color: #4CB2EA;
    }
    .navigation-wrapper {
      background-color: #4CB2EA;
    }
    .user-menu {
      background-color: #4CB2EA;
    }
  }

  .bbs-layout-content {
    .logo-wrapper {
      background-color: #4CB2EA;
    }
    .secondary-content {
      .slick-arrow {
        background-color: #4CB2EA;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: #4CB2EA !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: #4CB2EA !important;
      }
    }
    .bbs-color-background {
      .carousel-list-tabs {
        & .active a {
          color: white !important;
        }
      }
      .slick-arrow {
        &::after {
          background-color: #4CB2EA !important;
        }
      }
    }
    .see-all,
    .more-link {
      background-color: #4CB2EA;
    }
  }
}

#bbs-darkblue {
  .site-header {
    .topbar {
      background-color: #225CA4;
    }
    .navigation-wrapper {
      background-color: #225CA4;
    }
    .user-menu {
      background-color: #225CA4;
    }
  }

  .bbs-layout-content {
    .logo-wrapper {
      background-color: #225CA4;
    }
    .secondary-content {
      .slick-arrow {
        background-color: #225CA4;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: #225CA4 !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: #225CA4 !important;
      }
    }
    .bbs-color-background {
      .carousel-list-tabs {
        & .active a {
          color: white !important;
        }
      }
      .slick-arrow {
        &::after {
          background-color: #225CA4 !important;
        }
      }
    }
    .see-all,
    .more-link {
      background-color: #225CA4;
    }
  }
}
