@import '../base.scss';

#bbs-red {
  .site-header {
    .topbar {
      background-color: $bbs-red;
    }
    .navigation-wrapper {
      background-color: $bbs-red;
    }
    .user-menu {
      background-color: $bbs-red;
    }
  }

  .bbs-layout-content {
    .logo-wrapper {
      background-color: $bbs-red;
    }
    .secondary-content {
      .slick-arrow {
        background-color: $bbs-red;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: $bbs-red !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: $bbs-red !important;
      }
    }
    .bbs-color-background {
      .carousel-list-tabs {
        & .active a {
          color: white !important;
        }
      }
      .slick-arrow {
        &::after {
          background-color: $bbs-red !important;
        }
      }
    }
    .see-all,
    .more-link a {
      background-color: $bbs-red;
    }
  }
  .bbs-page {
    .main-content a {
      color: $bbs-red;
    }
    .sidebar {
      background-color: $bbs-red;
    }
  }
  .field-name-field-ding-event-date {
    color: $bbs-red;
  }
}

#bbs-seagreen {
  .site-header {
    .topbar {
      top: 0;
      background-color: $bbs-seagreen;
    }
    .navigation-wrapper {
      background-color: $bbs-seagreen;
    }
    .user-menu {
      background-color: $bbs-seagreen;
    }
  }

  .bbs-layout-content {
    .logo-wrapper {
      background-color: $bbs-seagreen;
    }
    .secondary-content {
      .slick-arrow {
        background-color: $bbs-seagreen;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: $bbs-seagreen !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: $bbs-seagreen !important;
      }
    }
    .bbs-color-background {
      .carousel-list-tabs {
        & .active a {
          color: white !important;
        }
      }
      .slick-arrow {
        &::after {
          background-color: $bbs-seagreen !important;
        }
      }
    }
    .see-all,
    .more-link a {
      background-color: $bbs-seagreen;
    }
  }
  .bbs-page {
    .main-content a {
      color: $bbs-seagreen;
    }
    .sidebar {
      background-color: $bbs-seagreen;
    }
  }
  .field-name-field-ding-event-date {
    color: $bbs-seagreen;
  }
}

#bbs-limegreen {
  .site-header {
    .topbar-inner-bbs {
      top: 0;
      background-color: $bbs-limegreen;
    }
    .navigation-wrapper {
      background-color: $bbs-limegreen;
    }
    .user-menu {
      background-color: $bbs-limegreen;
    }
  }

  .bbs-layout-content {
    .logo-wrapper {
      background-color: $bbs-limegreen;
    }
    .secondary-content {
      .slick-arrow {
        background-color: $bbs-limegreen;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: $bbs-limegreen !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: $bbs-limegreen !important;
      }
    }
    .bbs-color-background {
      .carousel-list-tabs {
        & .active a {
          color: white !important;
        }
      }
      .slick-arrow {
        &::after {
          background-color: $bbs-limegreen !important;
        }
      }
    }
    .see-all,
    .more-link a {
      background-color: $bbs-limegreen;
    }
  }
  .bbs-page {
    .main-content a {
      color: $bbs-limegreen;
    }
    .sidebar {
      background-color: $bbs-limegreen;
    }
  }
  .field-name-field-ding-event-date {
    color: $bbs-limegreen;
  }
}

#bbs-orange {
  .site-header {
    .topbar {
      background-color: $bbs-orange;
    }
    .navigation-wrapper {
      background-color: $bbs-orange;
    }
    .user-menu {
      background-color: $bbs-orange;
    }
  }

  .bbs-layout-content {
    .logo-wrapper {
      background-color: $bbs-orange;
    }
    .secondary-content {
      .slick-arrow {
        background-color: $bbs-orange;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: $bbs-orange !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: $bbs-orange !important;
      }
    }
    .bbs-color-background {
      .carousel-list-tabs {
        & .active a {
          color: white !important;
        }
      }
      .slick-arrow {
        &::after {
          background-color: $bbs-orange !important;
        }
      }
    }
    .see-all,
    .more-link a {
      background-color: $bbs-orange;
    }
  }
  .bbs-page {
    .main-content a {
      color: $bbs-orange;
    }
    .sidebar {
      background-color: $bbs-orange;
    }
  }
  .field-name-field-ding-event-date {
    color: $bbs-orange;
  }
}

#bbs-darkorange {
  .site-header {
    .topbar {
      background-color: $bbs-dark-orange;
    }
    .navigation-wrapper {
      background-color: $bbs-dark-orange;
    }
    .user-menu {
      background-color: $bbs-dark-orange;
    }
  }

  .bbs-layout-content {
    .logo-wrapper {
      background-color: $bbs-dark-orange;
    }
    .secondary-content {
      .slick-arrow {
        background-color: $bbs-dark-orange;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: $bbs-dark-orange !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: $bbs-dark-orange !important;
      }
    }
    .bbs-color-background {
      .carousel-list-tabs {
        & .active a {
          color: white !important;
        }
      }
      .slick-arrow {
        &::after {
          background-color: $bbs-dark-orange !important;
        }
      }
    }
    .see-all,
    .more-link a {
      background-color: $bbs-dark-orange;
    }
  }
  .bbs-page {
    .main-content a {
      color: $bbs-dark-orange;
    }
    .sidebar {
      background-color: $bbs-dark-orange;
    }
  }
  .field-name-field-ding-event-date {
    color: $bbs-dark-orange;
  }
}

#bbs-purple {
  .site-header {
    .topbar {
      background-color: $bbs-purple;
    }
    .navigation-wrapper {
      background-color: $bbs-purple;
    }
    .user-menu {
      background-color: $bbs-purple;
    }
  }

  .bbs-layout-content {
    .logo-wrapper {
      background-color: $bbs-purple;
    }
    .secondary-content {
      .slick-arrow {
        background-color: $bbs-purple;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: $bbs-purple !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: $bbs-purple !important;
      }
    }
    .bbs-color-background {
      .carousel-list-tabs {
        & .active a {
          color: white !important;
        }
      }
      .slick-arrow {
        &::after {
          background-color: $bbs-purple !important;
        }
      }
    }
    .see-all,
    .more-link a {
      background-color: $bbs-purple;
    }
  }
  .bbs-page {
    .main-content a {
      color: $bbs-purple;
    }
    .sidebar {
      background-color: $bbs-purple;
    }
  }
  .field-name-field-ding-event-date {
    color: $bbs-purple;
  }
}

#bbs-lightblue {
  .site-header {
    .topbar {
      background-color: $bbs-skyblue;
    }
    .navigation-wrapper {
      background-color: $bbs-skyblue;
    }
    .user-menu {
      background-color: $bbs-skyblue;
    }
  }

  .bbs-layout-content {
    .logo-wrapper {
      background-color: $bbs-skyblue;
    }
    .secondary-content {
      .slick-arrow {
        background-color: $bbs-skyblue;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: $bbs-skyblue !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: $bbs-skyblue !important;
      }
    }
    .bbs-color-background {
      .carousel-list-tabs {
        & .active a {
          color: white !important;
        }
      }
      .slick-arrow {
        &::after {
          background-color: $bbs-skyblue !important;
        }
      }
    }
    .see-all,
    .more-link a {
      background-color: $bbs-skyblue;
    }
  }
  .bbs-page {
    .main-content a {
      color: $bbs-skyblue;
    }
    .sidebar {
      background-color: $bbs-skyblue;
    }
  }
  .field-name-field-ding-event-date {
    color: $bbs-skyblue;
  }
}

#bbs-darkblue {
  .site-header {
    .topbar {
      background-color: $bbs-dark-blue;
    }
    .navigation-wrapper {
      background-color: $bbs-dark-blue;
    }
    .user-menu {
      background-color: $bbs-dark-blue;
    }
  }

  .bbs-layout-content {
    .logo-wrapper {
      background-color: $bbs-dark-blue;
    }
    .secondary-content {
      .slick-arrow {
        background-color: $bbs-dark-blue;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: $bbs-dark-blue !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: $bbs-dark-blue !important;
      }
    }
    .bbs-color-background {
      .carousel-list-tabs {
        & .active a {
          color: white !important;
        }
      }
      .slick-arrow {
        &::after {
          background-color: $bbs-dark-blue !important;
        }
      }
    }
    .see-all,
    .more-link a {
      background-color: $bbs-dark-blue;
    }
  }
  .bbs-page {
    .main-content a {
      color: $bbs-dark-blue;
    }
    .sidebar {
      background-color: $bbs-dark-blue;
    }
  }
  .field-name-field-ding-event-date {
    color: $bbs-dark-blue;
  }
}
