.quicktabs-tabs {
  margin-left: 1.5rem;
  margin-bottom: 50px;

  & .active a {
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  a {
    color: #888 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
  }

  li {
    margin-right: 40px !important;
  }
}

.carousel-list-tabs {
  margin-left: 10px;
  margin-bottom: 10px;

  & .active a {
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  a {
    color: #888 !important;
    font-size: 16px !important;
    font-weight: 500 !important;

    &::after {
      display: none;
    }
  }

  li {
    margin-right: 40px;
  }
}

.slick-arrow {
  position: absolute;
  border: none;
  top: 140px !important;
  background-color: grey;
  height: 50px !important;
  width: 50px !important;
  font-size: 0;
  cursor: pointer;

  .red-background & {
    background-color: #fff;
  }

  &::after {
    content: url('../../../images/icons/arrow.png') !important;
    position: relative !important;
    background-color: transparent !important;
    height: auto !important;
    width: auto !important;
    font-size: 0 !important;

    .red-background & {
      content: url('../../../images/icons/arrow-red.svg') !important;
    }
  }

  &.slick-next {
    right: -65px;
  }

  &.slick-prev {
    left: -95px !important;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  &.slick-disabled {
    display: none !important;
  }
}

.see-all {
  font-weight: 600;
  color: #fff;
  padding: 10px 15px;
  background-color: #B03033;
  width: fit-content;
  margin-bottom: 80px;
  margin-left: 30px;
}

.slick-slider {
  li.slick-slide {
      margin-bottom: 40px !important;
  }
  .views-row {
    background-image: url('/profiles/ding2/themes/bbs/images/library-stock.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .frontpage-teaser {
    display: flex;
    align-items: flex-end;
    min-height: 325px;
  }
}

.ding-carousel {
  .ding-carousel-item {
    width: 180px !important;

    a.read-more-button {
      color: #888;
      font-weight: 600;
      font-size: 14px;

      &::before {
        background-color: #888;
      }
    }

    .ding-entity-rating {
      display: none;
     }

     .field-name-ting-type {
      display: none;
     }

    .ting-cover {
      img {
        height: 230px;
        width: 100%;
      }
    }
  }
}
