@import '../base';

// ==========================================================================
// Search overlay
// ==========================================================================

.search-overlay--wrapper {
  position: fixed;
  z-index: $z-overlay;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $charcoal-opacity-dark;
  .search-overlay--inner {
    @include transform(translate(-167px, -105px));
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 30px 100px 20px;
    background-color: $color-primary;
    text-align: center;

    // Mobile
    @include media($mobile) {
      @include transform(translate(-122px, -105px));
      padding: 30px 80px 20px;
    }
  }
  .icon-spinner {
    position: relative;
    display: block;
    width: 84px;
    height: 84px;
    margin: 0 auto 20px;
    &::after {
      @include animation(spin 1s linear infinite);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/profiles/ding2/themes/ddbasic/images/spinner.png');
      background-size: 100% auto;
    }

    // Hidpi
    @include hidpi() {
      &::after {
        background-image: url('/profiles/ding2/themes/ddbasic/images/spinner@x2.png');
        background-size: 100% auto;
      }
    }
  }
  .search-overlay--text {
    color: $white;
    margin-bottom: 15px;
  }
  .cancel {
    margin-bottom: 0;
    a {
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// ==========================================================================
// Webform
// ==========================================================================

.node-type-webform {
  .content-inner {
    display: flex;
    justify-content: center;

    .panel-pane {
      max-width: $content-width;
      padding: 75px 20px;

      .pane-title {
       text-align: center;
      }
      .field-item {
        max-width: 800px;
        padding-bottom: 60px;
      }
    }
  }
}

.webform-client-form > div {
  display: flex;
  flex-direction: column;
  align-items: center;

  .webform-component {
    margin: 15px;
  }
}

// ==========================================================================
// Collapsible field groups
// ==========================================================================

.field-group-format.collapsible {
  position: relative;
  width: 100%;
  padding: 28px 0 26px;
  border-top: 1px solid $charcoal-opacity-light;
  > h2 {
    @include font('base');
    margin-bottom: 0;
    .field-group-format-toggler a {
      @include arrow-button(arrow-up);
      &::after {
        right: 0;
        top: 10px;
        background-color: $grey-dark;
        color: $white-opacity-dark;
      }
    }
  }
  .field-group-format-wrapper {
    width: 100% !important; // field_group module uses toggle to show and hide content. We use !important here to avoid the width to animate
    margin-top: 40px;
  }
  &.collapsed {
    > h2 {
      .field-group-format-toggler a {
        &::after {
          content: "\e901";
          background-color: $grey;
          color: $charcoal-opacity-dark;
        }
        &:hover {
          &::after {
            background-color: $grey-dark;
            color: $white-opacity-dark;
          }
        }
      }
    }
  }
}
