/*
Styles for the header
 */

.topbar {
  top: 80px;
  height: 70px;
  z-index: 1 !important;
  background-color: #b03033;
  position: fixed;
  left: 0;
  right: 0;

  .topbar-inner-bbs {
    height: 100%;
    transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
  }

  .menu-is-open & {
    top: 0 !important;
  }
}

.topbar-menu {
  float: right;
  margin: 0;

  .topbar-link {
    color: #ffff;
  }

  li {
    float: left;
    margin: 0;
    height: 70px;
    min-width: 70px;
    list-style-type: none !important;
    list-style-image: none !important;
    color: #fff;
    padding: 0;
    display: flex;

    .last & {
      padding-right: 50px;
    }

    a {
      color: #fff;
      padding: 25px;
      width: 100%;
      display: flex;
    }

    &.topbar-link-search {
      background-color: rgba(0, 0, 0, 0.08);

      #search-block-form {
        display: flex;
        align-items: center;
      }

      .form-item-search-block-form {
        float: right;
        padding-bottom: 6px;

        input {
          background-color: rgba(0, 0, 0, 0);
          color: #fff;
          width: 155px;
          transition: width 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

          &:focus {
            box-shadow: none;
            width: 400px;
          }

          &::placeholder {
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }

      .form-wrapper {
        float: left;
        margin-top: 20px;
        padding-left: 27px;
      }
    }

    &.topbar-link-opening-hours {
      background-color: rgba(0, 0, 0, 0.12);

      &::after {
        display: none;
      }
    }

    &.topbar-link-user {
      position: relative;
      background-color: rgba(0, 0, 0, 0.2);

      span.details {
        position: relative;
        color: #fff;
        padding-left: 7px;
        width: 100%;
        display: none;
        cursor: pointer;

       .logged-in & {
          display: block;

          .notification-count {
            position: absolute;
            top: 8px;
            left: -18px;
            background-color: #b03033;
            border-radius: 25%;
            width: 19px;
            height: 19px;
            padding: 0 6px;
            font-size: 0.8rem;
            font-weight: 800;
          }
        }
      }

      i.icon-arrow-down {
        display: none;

        .logged-in & {
          display: block;
        }
      }

      &::after {
        display: none;
      }

      .user-menu {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #B03033;
        display: none;

        &.open {
          display: block;
        }
        li {
          background-color: rgba(0, 0, 0, 0.2);
          width: 100%;
          border-top: 1px solid rgba(255, 255, 255, 0.1);
          height: auto;
          a {
            padding: 19px 20px;
          }
        }
      }
    }

    &.topbar-language {
      background-color: rgba(0, 0, 0, 0.16);
      .long-name {
        display: none;
        .menu-is-open & {
          display: block;
        }
      }

      .short-name {
        .menu-is-open & {
          display: none;
        }
      }

      /* We are not currently using the language switcher
      .current-language {
        text-transform: uppercase;
        margin: 30px;

        .menu-is-open & {
          display: none;
        }
      }
      .language-switcher-locale-session {
        display: none;

        li:not(:last-child)::after {
          content: '/';
          font-size: 42px;
          color: rgba(255, 255, 255, 0.1);
          position: relative;
          top: 30px;
        }

        .menu-is-open & {
          display: block;
        }

        a.active {
          color: #fff !important;
          font-weight: 700;
        }
      }
      */
    }

    &.topbar-link-menu {
      width: 100px;
      padding: 27px;
      background-color: rgba(0, 0, 0, 0.24);

      .topbar-link-menu-inner {
        position: relative;
        width: 20px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;

        span {
          display: block;
          background-color: white;
          position: absolute;
          height: 1.5px;
          width: 20px;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.25s ease-in-out;
          -moz-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;

          &:nth-child(1) {
            top: 0;
          }

          &:nth-child(2) {
            top: 6px;
          }

          &:nth-child(3) {
            top: 6px;
          }

          &:nth-child(4) {
            top: 12px;
          }
        }

        &.active {
          span {
            &:nth-child(1) {
              top: 6px;
              width: 0;
            }

            &:nth-child(2) {
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            &:nth-child(3) {
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }

            &:nth-child(4) {
              top: 6px;
              width: 0;
            }
          }
        }
      }
    }
  }

  span.details {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    display: none;

    .menu-is-open & {
      display: block;
    }
  }

  @media screen and (max-width: 660px) {
    li {
      &:not(.topbar-link-menu) {
        display: none;
      }

      &.topbar-link-menu {
        background-color: rgba(0, 0, 0, 0.08);
      }
    }
  }
}

.icon {
  font-size: 50px;
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

.icon-clock::after {
  content: "\e90e";
}

.icon-user::after {
  content: "\e90b";
}

.icon-arrow-down {
  font-size: 60px;
  margin-right: -20px;

  &::after {
    content: "\e900";
  }
}

.logo {
  float: left;

  .logo-container {
    display: flex;
    align-items: center;

    .logo-text {
      display: block;
      height: 40px;
      padding-left: 40px;
    }
  }
  @media screen and (max-width: 960px) {
    .logo-container {
      .logo-text {
        display: none;
      }
    }
  }
}

body.overlay-is-active {
  background-color: inherit !important;
}
