/*
Styles for the header
 */

.topbar {
  height: 70px;
  z-index: 1 !important;
  background-color: #b03033;
}

.topbar-menu {
  float: right;
  margin: 0;

  li {
    float: left;
    margin: 0;
    height: 70px;
    min-width: 70px;
    list-style-type: none !important;
    list-style-image: none !important;
    color: #fff;
    padding: 0;
    display: flex;

    .last & {
      padding-right: 50px;
    }

    a {
      color: #fff;
      margin: 25px;
      width: 100%;
    }

    .details {
      display: none;
    }
  }

  .topbar-link {
    color: #ffff;
  }

  li.topbar-link-search {
    background-color: rgba(0, 0, 0, 0.08);

    #search-block-form {
      display: flex;
      align-items: center;
    }

    .form-item-search-block-form {
      float: right;

      input {
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
        width: 155px;

        &:focus {
          box-shadow: none;
          width: 300px;
        }

        &::placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }

    .form-wrapper {
      float: left;
      margin-top: 20px;
      padding-left: 27px;
    }
  }

  li.topbar-link-opening-hours {
    background-color: rgba(0, 0, 0, 0.12);

    &::after {
      display: none;
    }
  }

  li.topbar-link-user {
    background-color: rgba(0, 0, 0, 0.2);

    &::after {
      display: none;
    }
  }

  li.topbar-language {
    background-color: rgba(0, 0, 0, 0.16);

    .current-language {
      text-transform: uppercase;
      margin: 30px;

      .menu-is-open & {
        display: none;
      }
    }
    .language-switcher-locale-session {
      display: none;

      li:not(:last-child)::after {
        content: '/';
        font-size: 42px;
        color: rgba(255, 255, 255, 0.1);
        position: relative;
        top: 30px;
      }

      .menu-is-open & {
        display: block;
      }

      a.active {
        color: #fff !important;
        font-weight: 700;
      }
    }
  }

  li.topbar-link-menu {
    width: 100px;
    padding: 27px;
    background-color: rgba(0, 0, 0, 0.24);

    .topbar-link-menu-inner {
      position: relative;
      width: 20px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer;

      span {
        display: block;
        background-color: white;
        position: absolute;
        height: 1.5px;
        width: 20px;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: 6px;
        }

        &:nth-child(3) {
          top: 6px;
        }

        &:nth-child(4) {
          top: 12px;
        }
      }

      &.active {
        span {
          &:nth-child(1) {
            top: 6px;
            width: 0;
          }

          &:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          &:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }

          &:nth-child(4) {
            top: 6px;
            width: 0;
          }
        }
      }
    }
  }

  span.details {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    display: none;

    .menu-is-open & {
      display: block;
    }
  }
}

.icon {
  font-size: 50px;
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

.icon-clock::after {
  content: "\e90e";
}

.icon-user::after {
  content: "\e90b";
}

.logo {
  float: left;
}
