/**
Styles for the overlay menu
 */
@import '../base';

body.menu-is-open {
  overflow: hidden;
}

.navigation-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100% - 70px);
  position: fixed;
  background-color: #b03033;
  z-index: 999;
  left: 0;
  width: 100%;
  transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
  top: -100vh;
  opacity: 0;
  background-image: url('/profiles/ding2/themes/bbs/images/icons/logo-menu.svg');
  background-position: bottom right -10px;
  background-size: 400px auto;
  background-repeat: no-repeat;

  .menu-is-open & {
    top: 70px;
    opacity: 1;
  }

  a {
    color: white;
  }

  .navigation-inner {
    width: 100%;
    max-width: 900px;
    padding-top: 120px;

    .secondary-menu-wrapper {
      display: none;
    }

    .main-menu-wrapper {
      position: relative;
      color: #fff;

      & > .main-menu {
        li.open > a {
          background-color: rgba(0, 0, 0, 0.16);
        }
      }

      li {
        width: 100%;
        max-width: 550px;
        list-style: none;
        font-size: 38px;
        font-weight: bold;
        line-height: 40px;

        a.menu-button {
          display: inline-block;
          padding: 16px 20px 10px 80px;

          &.hidden {
            display: none;
          }
        }
        a.active {
          color: white;
        }
      }

      .sub-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 550px;

        &.hidden {
          display: none;
        }

        li {
          position: relative;
          font-size: 22px;
          line-height: 42px;

          a.menu-button {
            padding: 5px 40px 5px 10px;
            line-height: 26px
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.16);
          }
        }

        .back-button {
          display: none;
          position: absolute;
          top: -40px;
          left: 0;
          font-size: 16px;
          line-height: 30px;
          padding-left: 20px;
          cursor: pointer;

          &::before {
            content: url('/profiles/ding2/themes/bbs/images/icons/arrow.svg');
            display: none;
            transform: rotate(180deg);
            position: absolute;
            top: -8px;
            left: 0;
          }
        }

        .header-element {
          display: none;
          margin: 10px;
        }
      }
    }
  }
  @media screen and (max-width: $break-medium) {
    .navigation-inner {
      padding-top: 50px;

      .main-menu-wrapper {
        li {
          font-size: 30px;
        }
        .sub-menu {
          top: 35px;
          left: 20vw;

          li {
            a.menu-button {
              padding-left: 10px;
            }
          }

          .back-button {
            display: block;

            &::before {
              display: block;
            }
          }

          .header-element {
            display: block;
          }
        }
      }
    }
  }

  @media screen and (max-width: $break-small) {
    overflow-y: scroll;
    overflow-x: hidden;

    .navigation-inner {
      padding-top: 15px;

      .main-menu-wrapper {
        padding: 0 10px;
        li {
          margin: 10px;
          font-size: 30px;
          a.menu-button {
            padding: 0;
          }
        }

        .sub-menu {
          top: 35px;
          left: 5vw;
        }
      }
    }
  }
}

.pane-menu-block-main-menu-second-level {
  display: none;
}
