/**
Styles for the overlay menu
 */
@import '../_variables.scss';

body.menu-is-open {
  overflow: hidden;
}

.navigation-wrapper {
  height: 100vh;
  position: fixed;
  background-color: #b03033;
  z-index: 3;
  left: 0;
  width: 100%;
  transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
  top: -100vh;
  opacity: 0;
  background-image: url('/profiles/ding2/themes/bbs/images/icons/logo-menu.svg');
  background-position: bottom right -10px;
  background-size: 400px auto;
  background-repeat: no-repeat;

  .menu-is-open & {
    top: 70px;
    opacity: 1;
  }
}

.navigation-inner {
  width: 700px;
  margin: auto;

  .main-menu-wrapper {
    color: #fff;

    & > .main-menu {
      top: 130px;
      position: absolute;

      li.expanded {
        background-color: rgba(0, 0, 0, 0.16);
      }
    }

    .sub-menu {
      display: block;
      position: absolute;
      top: 15px;
      right: -150px;

      &.hidden {
        display: none;
      }

      li {
        position: relative;
        font-size: 22px;
        line-height: 30px;

        a.menu-button {
          padding-left: 40px;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.16);
        }
      }
    }

    li {
      width: fit-content;
      margin: 10px;
      padding: 8px 0 0;
      list-style: none;
      font-size: 38px;
      font-weight: bold;
      line-height: 46px;

      a.menu-button {
        padding-left: 80px;
        padding-right: 10px;
      }
      a.active {
        color: white;
      }
    }
  }
}

.pane-menu-block-main-menu-second-level {
  display: none;
}

body#bbs-yellow {
   .topbar {
     background-color: $bbs-yellow;
   }
   .navigation-wrapper {
     background-color: $bbs-yellow;
   }
 }

body#bbs-skyblue {
  .topbar {
    background-color: $bbs-skyblue;
  }
  .navigation-wrapper {
    background-color: $bbs-skyblue;
  }
}

body#bbs-seagreen {
  .topbar {
    background-color: $bbs-seagreen;
  }
  .navigation-wrapper {
    background-color: $bbs-seagreen;
  }
}

body#bbs-seagreen {
  .topbar {
    background-color: $bbs-limegreen;
  }
  .navigation-wrapper {
    background-color: $bbs-limegreen;
  }
}
