.frontpage-content {
  margin-top: 86px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;

  .main-content {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      margin: 10px;

      .left-side {
        flex-basis: 33%;
      }

      .right-side {
        flex-basis: 67%;
        color: white;

        .teaser-info {
          padding: 60px 70px;

          h3 {
            font-size: 22px;
            font-weight: bold;
          }

          .field {
            padding-bottom: 20px;
          }
        }
      }
    }

    .view-content {
      .item-list {
        ul {
          display: flex;

          li {
            width: 100%;
          }
        }
      }
    }
  }

  .frontpage-teaser {
    background-size: cover;
    background-repeat: no-repeat;

    .teaser-info {
      padding: 50px;
      color: white;

      .title-text {
        font-size: 22px;
      }

      .date-info {
        padding-bottom: 20px;
      }
    }
  }

  .menu-wrapper {
    padding: 40px;
    background-color: #b03033;

    h2 {
      padding-top: 20px;
      height: 80px;
      width: 300px;
      color: #fff;
      font-family: "Cooper Hewitt";
      font-size: 26px;
      font-weight: bold;
      line-height: 40px;
      text-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    }

    .menu {
      li {
        list-style-type: none !important;
        list-style-image: none !important;
      }

      .form-item-search-block-form {
        input {
          background-color: rgba(0, 0, 0, 0);
          color: #fff;
          width: 155px;

          &:focus {
            box-shadow: none;
            width: 300px;
          }

          &::placeholder {
            color: #fff;
          }
        }
      }

      .form-wrapper {
        float: left;
        margin-top: 20px;
        padding-left: 27px;
      }
    }
  }

  .new-user {
    .block-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 40px;

      .text {
        font-size: 22px;
        font-weight: 800;
        color: white;
      }
    }
  }

  .secondary-content {
    .quicktabs-wrapper {
      .event-teaser {
        height: 320px;
        width: 380px;
        display: flex;

        .field-label {
          display: none;
        }

        .field-item {
          display: flex;
          flex-flow: column-reverse;
        }
      }
    }
  }
}

.navigation-wrapper {
  display: block;
  opacity: 0;
  top: -100vh;
  transition: 0.5s ease-in-out;
}

.menu-is-open {
  .navigation-wrapper {
    opacity: 1;
    top: 99px;
  }
}

.skyblue {
  background: #4cb2ea;
}

.yellow {
  background: #eb983f;
}
