.frontpage {
   margin-top: 86px;

   .main-content {
     display: flex;
     flex-direction: column;
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;

     .row {
       display: flex;
       flex-direction: row;
       margin: 10px;

       .left-side {
         flex-basis: 380px;
       }
     }
   }

   .menu-wrapper {
     padding: 40px;
     background-color: #b03033;

     h2 {
       padding-top: 20px;
       height: 80px;
       width: 300px;
       color: #fff;
       font-family: "Cooper Hewitt";
       font-size: 26px;
       font-weight: bold;
       line-height: 40px;
       text-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
     }

     .menu {
       li {
         list-style-type: none !important;
         list-style-image: none !important;
       }

       .form-item-search-block-form {
         input {
           background-color: rgba(0, 0, 0, 0);
           color: #fff;
           width: 155px;

           &:focus {
             box-shadow: none;
             width: 300px;
           }

           &::placeholder {
             color: #fff;
           }
         }
       }

       .form-wrapper {
         float: left;
         margin-top: 20px;
         padding-left: 27px;
       }
     }
   }
   .new-user {

     .block-item {
       margin-bottom: 20px;
       padding: 40px;
     }
   }
 }

.skyblue {
  background: #4CB2EA;
}

.yellow {
  background: #EB983F;
}