.frontpage-content {
  .main-content {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;

    .row {
      display: flex;

      .left-side {
        flex-basis: 30%;
        padding: 10px;
      }

      .right-side {
        flex-basis: 70%;
        padding: 10px;
        color: white;

        .teaser-info {
          padding: 60px 70px;

          h3 {
            font-size: 22px;
            font-weight: bold;
          }

          .field {
            padding-bottom: 20px;
          }
        }
      }
    }

    ul {
      margin: 0 !important;
      display: flex;

      li {
        margin: 0 !important;
        width: 100%;
      }
    }

    .secondary-info {
      .views-row {
        display: flex;

        .views-column {
          width: 50%;

          &.views-column-1 {
            padding-right: 10px;
          }

          &.views-column-2 {
            padding-left: 10px;
          }

          .frontpage-teaser {
            height: 100%;
          }
        }
      }
    }
  }

  .frontpage-teaser {
    background-size: cover;
    background-repeat: no-repeat;

    .teaser-info {
      padding: 50px;
      color: white;

      .title-text {
        font-size: 22px;
      }

      .date-info {
        padding-bottom: 20px;
      }
    }
  }

  .menu-wrapper {
    height: 100%;
    width: 100%;
    padding: 40px;
    background-color: #b03033;

    h2 {
      padding-top: 20px;
      height: 80px;
      width: 300px;
      color: #fff;
      font-family: "Cooper Hewitt";
      font-size: 26px;
      font-weight: bold;
      line-height: 40px;
      text-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    }

    .menu {
      li {
        list-style-type: none !important;
        list-style-image: none !important;
      }

      .form-item-search-block-form {
        input {
          background-color: rgba(0, 0, 0, 0);
          color: #fff;
          width: 155px;

          &:focus {
            box-shadow: none;
            width: 300px;
          }

          &::placeholder {
            color: #fff;
          }
        }
      }

      .form-wrapper {
        float: left;
        margin-top: 20px;
        padding-left: 27px;
      }
    }
  }

  .new-user {
    height: 100%;

    .panel-pane {
      height: 50%;

      &:first-child {
        padding-bottom: 20px;
      }
    }
    .block-item {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;

      .text {
        font-size: 22px;
        font-weight: 700;
        color: white;
      }
    }
  }

  .content-wrapper {
    margin: 30px auto;
    max-width: 1400px;
  }

  .content-block {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .logo-wrapper {
    background-image: url(/profiles/ding2/themes/bbs/images/icons/logo.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
  }

  .secondary-content {
    .quicktabs-wrapper {
      .event-teaser {
        height: 320px;
        display: flex;

        .field-label {
          display: none;
        }

        .field-item {
          display: flex;
          flex-flow: column-reverse;
        }
      }
    }
  }

  .quaternary-content {
    background-color: rgba(0, 0, 0, 0.08);
  }

  .red-background {
    background-color: #b03033;
  }

  .border-wrapper {

    .border-image {
      display: none;
    }

    .front & {
      z-index: -5;
      margin: 30px 30px 50px;

      .border-element {
        height: 100%;
        width: 100%;
        border: 7px solid;
        border-color: rgba(0, 0, 0, 0.06);
        position: relative;
        padding: 50px;

        .border-image {
          display: block;
          background: #fff;
          position: absolute;
          bottom: -10px;
          left: -9px;
          width: 30px;
        }
      }
    }
  }

  .views-row {
    margin-bottom: 0 !important;
  }
}

.skyblue {
  background: #4cb2ea;
}

.yellow {
  background: #eb983f;
}

.red-background {
  h2 {
    color: #fff;
  }
}
