body.node-type-ding-news {
  .topbar {
    background-color: #4CB2EA;
  }

  .bbs-news {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    .bbs-news-inner {
      display: flex;
      width: 100%;
      max-width: 1400px;
      padding: 50px 10px 0;

      .bbs-news-left {
        flex-basis: 40%;
        margin-right: 20px;

        .field-item {
          padding-bottom: 20px;
        }
      }

      .bbs-news-right {
        flex-basis: 60%;
        margin-left: 20px;

        h1 {
          font-size: 32px;
          font-weight: 500;
          color: #262627;
          margin-bottom: 10px;
        }

        .news-lead {
          color: #888;
          padding: 40px 0;
        }

        .news-body {
          max-width: 570px;
          color: #888;

          p {
            line-height: 28px;
            margin: 0;
          }
        }
        .section.meta {
          margin-top: 20px;
          padding: 20px;
          max-width: 410px;
          background-color: rgba(0, 0, 0, 0.04);

          .author,
          .category,
          .tags {
            display: flex;
            align-items: center;
            margin: 5px 0;
            font-weight: 600;

            a {
              font-size: 14px;
              font-weight: 500;
              color: inherit;
              margin-left: 5px;

              &:hover {
                color: inherit;
                text-decoration: underline;
              }
            }

            .field-items,
            .field {
              display: flex;
            }
          }

          .field-label-hidden {
            a {
              font-size: 14px;
              font-weight: 500;
              color: inherit;

              &:hover {
                color: inherit;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  .ding-materials {
    .field-name-field-ding-news-materials {

      & > .field-label {
        display: none;
      }

      & > .field-items {
        display: flex;
        flex-wrap: wrap;

        .field-item {
          width: 180px;
          margin-right: 50px;
        }
      }
    }
  }

}
