//
// Set variables

// ==========================================================================
// Color
// ==========================================================================
$bbs-red: #B03033;
$bbs-orange: #EB983F;
$bbs-purple: #5F338C;
$bbs-skyblue: #4CB2EA;
$bbs-seagreen: #47A49D;
$bbs-limegreen: #99C355;
$bbs-dark-blue: #225CA4;
$bbs-dark-orange: #E36D38;
$bbs-black: #232323;


// BBS colors
$color-primary: #B03033;
$color-secondary: #EB983F;

$color-text: #262627;
$color-text-link: #B03033;
$color-text-link-on-dark: #B03033;
$color-text-on-primary: #fffff1;
$color-text-on-secondary: #fffff2;

// Shaders
$shader-xs: rgba(0, 0, 0, 0.08);
$shader-s: rgba(0, 0, 0, 0.12);
$shader-m: rgba(0, 0, 0, 0.16);
$shader-l: rgba(0, 0, 0, 0.2);
$shader-xl: rgba(0, 0, 0, 0.24);
$shader-xxl: rgba(0, 0, 0, 0.28);

// Ding colors
$black: #000;
$black-overlay: rgba(0, 0, 0, 0.8);
$black-overlay-dark: rgba(0, 0, 0, 0.9);

$color-standard-text: #474747;

$charcoal: #262626;
$charcoal-opacity-extra-dark: rgba(38, 38, 38, 0.8);
$charcoal-opacity-dark: rgba(38, 38, 38, 0.54);
$charcoal-opacity-light: rgba(38, 38, 38, 0.2);
$white: #fff;
$white-opacity-dark: rgba(255, 255, 255, 0.54);
$white-opacity-light: rgba(255, 255, 255, 0.2);

$grey-light: #f1f2f2;
$grey: #e5e5e5;
$grey-medium: #ccc;
$grey-dark: #808285;

$green: #24d273;
$green-text: darken($green, 10);
$red: #e22045;
$red-text: $red;
$yellow: #ffca5f;
$yellow-text: darken($yellow, 15);

// ==========================================================================
// Distance
// ==========================================================================
$header-height: 70px;
$content-width: 1200px;


// Ding distances
$header-height: 148px;
$topbar-height: 64px;
$second-level-menu-height: 61px;
$distance-paragraph: 30px;
$element-height: 54px;
$wrapper-width: 90%;
$search-form-extended-height: 84px;
$toolbar-height: 65px;
$admin-menu-height: 29px;

$dynamic-background-width: 1250px;

// ==========================================================================
// Breakpoints
// ==========================================================================
$break-small: 490px;
$break-medium: 720px;
$break-large: 1140px;

// ==========================================================================
// Misc
// ==========================================================================
$round-corner: 5px;
$box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
$box-padding: 15px;
$disabled: 0.3;

// ==========================================================================
// Transition
// ==========================================================================
$speed: 300ms;
$speed-fast: 150ms;
$hover-delay: 400ms;
$ease: $ease-out-quart;

// ==========================================================================
// z-index
// ==========================================================================
$z-below: 50;
$z-content: 100;
$z-above: 150;
$z-header: 300;
$z-overlay: 900;
$z-debug: 999;
