.bbs-layout-content {
  h1 {
    color: #232323;
    font-weight: 700;
    padding-left: 20px;
  }

  a {
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  .content-wrapper {
    max-width: 1400px;
  }

  .content-block {
    display: flex;
    justify-content: center;
    padding: 100px 0;
  }

  .view-content {
    height: 100%;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;

    .row {
      display: flex;

      .left-side {
        flex-basis: 30%;
        padding: 10px;
        min-width: 380px;
      }

      .right-side {
        flex: 70%;
        padding: 10px;
        color: white;

        h2 {
          &.pane-title {
            display: none;
          }
        }

        .main-info {
          h3.title-text {
            font-size: 32px;
          }
        }

        .teaser-info {
          padding: 60px 70px;

          h3 {
            font-size: 22px;
            font-weight: bold;
          }

          .field-item {
            max-width: 500px;
          }
        }

        .secondary-info {
          ul {
            display: flex;
            margin: 0 !important;

            li {
              margin: 0 !important;
              width: 100%;

              &:nth-of-type(1) {
                .frontpage-teaser {
                  margin-right: 10px;
                }
              }

              &:nth-of-type(2) {
                .frontpage-teaser {
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }

      .menu-wrapper {
        .frontpage-teaser {
          height: 400px;
        }
      }

      .new-user,
      .secondary-info {
        .frontpage-teaser {
          height: 260px;
        }
      }
    }
  }

  .menu-wrapper {
    height: 100%;
    width: 100%;

    .panel-pane {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      margin-top: 20px;

      &:first-of-type {
        margin: 0;
      }

      &.pane-menu-menu-frontpage-menu {
        background-color: #b03033;
      }

      h2.pane-title {
        flex: 1;
        width: 100%;
        color: #fff;
        font-size: 28px;
        font-weight: bold;
        line-height: 40px;
        text-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
        padding: 70px 40px 50px;
        margin: 0;
      }
    }

    .menu {
      flex-direction: column;

      li {
        list-style-type: none !important;
        list-style-image: none !important;
      }

      .menu-item {
        display: flex;
        height: 70px;
        background-color: rgba(0, 0, 0, 0.08);
        padding-left: 15px;
        padding-top: 6px;

        &:nth-of-type(2) {
          background-color: rgba(0, 0, 0, 0.12);
        }

        &:nth-of-type(3) {
          background-color: rgba(0, 0, 0, 0.16);
        }

        &:nth-of-type(4) {
          background-color: rgba(0, 0, 0, 0.2);
        }

        &:nth-of-type(5) {
          background-color: rgba(0, 0, 0, 0.24);
        }

        a {
          display: flex;
          align-items: center;

          .icon {
            font-size: 40px;
          }

          &.menu-item {
            background-color: transparent;

            .details {
              margin-top: -12px;
            }

            .bbs-icon {
              height: 30px;
              width: 25px;
            }
          }
        }

        form {
          div {
            &:first-of-type {
              display: flex;
              flex-direction: row-reverse;
              justify-content: flex-end;

              .form-actions {
                padding-left: 13px;
              }
            }
          }
        }
      }

      .form-item-search-block-form {
        input {
          background-color: rgba(0, 0, 0, 0);
          color: #fff;
          width: 155px;

          &:focus {
            box-shadow: none;
            width: 300px;
          }

          &::placeholder {
            color: #fff;
          }
        }
      }

      .form-wrapper {
        float: left;
        margin-top: 20px;
        padding-left: 27px;
      }
    }
  }

  .secondary-info {
    .item-list {
      width: 100%;
      ul {
        display: flex;
      }
    }

    .view {
      display: flex;

      > div {
        width: 100%;
      }

      .view-content {
        display: flex;
        width: 100%;
      }

      .views-row {
        display: flex;
        width: 100%;
        margin-right: 20px;

        &:last-of-type {
          margin: 0;
        }
        .views-column {
          width: 50%;

          &.views-column-1 {
            padding-right: 10px;
          }

          &.views-column-2 {
            padding-left: 10px;
          }
        }
      }
      .frontpage-teaser {
        height: 260px;
      }
    }
  }

  .secondary-content {
    display: flex;
    justify-content: center;

    .quicktabs-wrapper {
      .event-teaser {
        height: 320px;
        display: flex;

        .field-label {
          display: none;
        }

        .field-item {
          display: flex;
          flex-flow: column-reverse;
        }
      }
    }
  }

  .quaternary-content {
    background-color: rgba(0, 0, 0, 0.08);
  }

  .new-user {
    .panels-ipe-portlet-wrapper {
      margin-bottom: 20px;

      &:last-of-type {
        margin: 0;
      }
    }

    .pane-colorblock {
      margin-bottom: 20px;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  .logo-wrapper {
    background-color: #b03033;
    background-image: url('/profiles/ding2/themes/bbs/images/icons/logo.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;

    h2 {
      color: #fff;
    }
  }

  .bbs-highlight-block-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b03033;
    padding: 0 40px;
    height: 120px;

    p {
      margin: 0;
    }

    .text {
      font-size: 22px;
      font-weight: 700;
      color: white;
    }
  }

  .border-wrapper {
    .border-image {
      display: none;
    }

    .front & {
      z-index: -5;
      margin: 30px 30px 50px;

      .border-element {
        height: 100%;
        width: 100%;
        border: 7px solid;
        border-color: rgba(0, 0, 0, 0.06);
        position: relative;
        padding: 50px;

        .content-block {
          padding-top: 140px;
        }

        .border-image {
          display: block;
          background: #fff;
          position: absolute;
          bottom: -10px;
          left: -9px;
          width: 30px;
        }
      }
    }
  }

  .views-row {
    margin-bottom: 0 !important;
    height: 100%;
  }

  .pane-views {
    .view-display-id-block {
      .item-list {
        ul {
          display: flex;
        }
      }
    }
  }

  @media screen and (max-width: 1140px) {
    .main-content {
      .row {
        flex-direction: column;
      }
    }
  }

  @media screen and (max-width: 760px) {
    .border-wrapper {
      .front & {
        .border-element {
          padding: 10px;
        }
      }
    }
    .main-content {
      .row {
        .secondary-info {
          .item-list {
            ul {
              flex-direction: column;

              .frontpage-teaser {
                margin: 0 0 20px;
              }
            }
          }
        }
      }
    }
  }
}

.frontpage-teaser {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url('/profiles/ding2/themes/bbs/images/library-stock.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .teaser-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 50px;
    color: white;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, black -250%, transparent 100%);

    a {
      color: white;
      padding-top: 20px;
    }

    .lead {
      max-width: 450px;
      max-height: 60px;
      overflow: hidden;
    }
    .lead-text {
      max-width: 300px;
      max-height: 36px;
      overflow: hidden;
    }

    .title-text {
      font-size: 22px;
      font-weight: bold;
      letter-spacing: -0.3px;
      line-height: 38px;
      overflow: hidden;
      max-width: 500px;
      max-height: 34px;
    }

    .date-info {
      padding-bottom: 20px;
    }
  }
}

.bbs-icon {
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: 14px;
}
