@import './base';

.bbs-page {
  position: relative;

  .social-share-container {
    width: 100%;
    float: left;
    padding-bottom: 10px;
    border-bottom: 1px solid $grey-medium;
    margin-bottom: 10px;
    .label {
      @include font('base-bold');
    }
    a {
      display: block;
      float: left;
      margin-right: 16px;
    }
  }

  .bbs-top-page-content {
    display: flex;
    flex-direction: column;

    .bbs-page-banner-image {
      width: 100%;

      .banner-image {
        max-height: 300px;
        margin: auto;
      }
    }

    .bbs-page-text-wrapper {
      padding: 0 20px;
      width: 100%;
      max-width: 1000px;
      margin-top: 40px;

      .field-name-field-ding-page-body {
        width: 100%;
      }

      h2.page-title {
        font-size: 38px;
        font-weight: 700;
        margin-bottom: 50px;
      }

      a {
        color: black;
      }

      p {
        color: #888;
        max-width: 600px;
        text-align: left;
      }

      .field-item {
        color: #888;
        max-width: 600px;
        padding-bottom: 25px;
      }
    }
  }

  .sidebar {
    position: absolute;
    right: 10%;
    top: 370px;
    width: 400px;
    background-color: #D1D1D1;

    .panel-pane {
      position: relative;
      margin: 0;

      h2.sub-menu-title {
        position: absolute;
        top: -60px;
        left: 20px;
        border: none;

        a {
          font-size: 22px;
          font-weight: 600;
          color: black;
        }
      }

      ul {
        padding: 40px 30px;

        li {
          list-style: none;
          margin-bottom: 30px;

          &:last-of-type {
            margin: 0;
          }

          a {
            font-size: 18px;
            font-weight: 500;
            text-decoration: underline;
            color: #fff;

            &.active {
              font-weight: bold;
              font-size: 1.3em;
            }
          }
        }
      }
    }

    @media screen and (max-width: 950px) {
      display: none;
    }
  }

  .logo-wrapper {
    .content-block {
      .content-wrapper {
        max-width: $content-width;
      }
    }
  }

  @media screen and (max-width: $break-large) {
    .bbs-page-text-wrapper {
      h2 {
        line-height: 40px;
      }
      .field {
        width: 100%;
        .field-item {
          width: 100%;
          margin: auto;
        }
      }
    }
    .sidebar {
      position: relative;
      margin: auto;
      top: auto;
      right: auto;

      .panel-pane {
        h2.sub-menu-title {
          position: relative;
          height: 0;
          margin: 0;
          padding: 0;

          &::after {
            display: none;
          }
        }
      }
    }
  }
}
