.bbs-layout-content {
  .main-content {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;

    .row {
      display: flex;

      .left-side {
        flex-basis: 30%;
        padding: 10px;
      }

      .right-side {
        flex: 70%;
        padding: 10px;
        color: white;

        h2 {
          &.pane-title {
            display: none;
          }
        }

        .teaser-info {
          padding: 60px 70px;

          h3 {
            font-size: 22px;
            font-weight: bold;
          }

          .field {
            padding-bottom: 20px;
          }
        }
      }
    }

    ul {
      display: flex;
      margin: 0 !important;

      li {
        margin: 0 !important;
        width: 100%;

        &:nth-of-type(1) {
          .frontpage-teaser {
            margin-right: 10px;

            &.event-teaser {
              margin-right: 0;
            }
          }
        }

        &:nth-of-type(2) {
          .frontpage-teaser {
            margin-left: 10px;
          }
        }
      }
    }

    .secondary-info {
      .views-row {
        display: flex;

        .views-column {
          width: 50%;

          &.views-column-1 {
            padding-right: 10px;
          }

          &.views-column-2 {
            padding-left: 10px;
          }

          .frontpage-teaser {
            height: 100%;
          }
        }
      }
    }
  }

  .frontpage-teaser {
    background-image: url('/profiles/ding2/themes/bbs/images/library-stock.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .teaser-info {
      padding: 50px;
      color: white;

      .title-text {
        font-size: 22px;
      }

      .date-info {
        padding-bottom: 20px;
      }
    }
  }

  .menu-wrapper {
    height: 100%;
    width: 100%;

    .panel-pane {
      height: 100%;
      width: 100%;
    }

    .column-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2.pane-title {
        flex: 1;
        width: 100%;
        color: #fff;
        font-size: 28px;
        font-weight: bold;
        line-height: 40px;
        text-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
        padding: 70px 0 50px 40px;
        margin: 0;
      }
    }

    .menu {
      flex-direction: column;

      li {
        list-style-type: none !important;
        list-style-image: none !important;
      }

      .menu-item {
        display: flex;
        height: 70px;
        background-color: rgba(0, 0, 0, 0.08);
        padding-left: 15px;
        padding-top: 5px;

        &:nth-of-type(2) {
          background-color: rgba(0, 0, 0, 0.12);
        }

        &:nth-of-type(3) {
          background-color: rgba(0, 0, 0, 0.16);
        }

        &:nth-of-type(4) {
          background-color: rgba(0, 0, 0, 0.2);
        }

        &:nth-of-type(5) {
          background-color: rgba(0, 0, 0, 0.24);
        }

        a {
          display: flex;
          align-items: center;

          .icon {
            font-size: 40px;
          }
        }

        form {
          div {
            &:first-of-type {
              display: flex;
              flex-direction: row-reverse;
              justify-content: flex-end;

              .form-actions {
                padding-left: 13px;
              }
            }
          }
        }
      }

      .form-item-search-block-form {
        input {
          background-color: rgba(0, 0, 0, 0);
          color: #fff;
          width: 155px;

          &:focus {
            box-shadow: none;
            width: 300px;
          }

          &::placeholder {
            color: #fff;
          }
        }
      }

      .form-wrapper {
        float: left;
        margin-top: 20px;
        padding-left: 27px;
      }
    }
  }

  .new-user {
    .panel-pane {
      height: 100%;

      &:first-child {
        margin-bottom: 20px;
        .frontpage-teaser {
          height: 100%;
        }
      }
    }

    .block-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      min-width: 380px;
      padding: 40px;

      p {
        margin: 0;
      }

      .text {
        font-size: 22px;
        font-weight: 700;
        color: white;
      }
    }
  }

  .content-wrapper {
    max-width: 1400px;
  }

  .content-block {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .logo-wrapper {
    background-color: #b03033;
    background-image: url('/profiles/ding2/themes/bbs/images/icons/logo.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;

    h2 {
      color: #fff;
    }
  }

  .secondary-content {
    display: flex;
    justify-content: center;

    .quicktabs-wrapper {
      .event-teaser {
        height: 320px;
        display: flex;

        .field-label {
          display: none;
        }

        .field-item {
          display: flex;
          flex-flow: column-reverse;
        }
      }
    }
  }

  .quaternary-content {
    background-color: rgba(0, 0, 0, 0.08);
  }

  .border-wrapper {

    .border-image {
      display: none;
    }

    .front & {
      z-index: -5;
      margin: 30px 30px 50px;

      .border-element {
        height: 100%;
        width: 100%;
        border: 7px solid;
        border-color: rgba(0, 0, 0, 0.06);
        position: relative;
        padding: 50px;

        .border-image {
          display: block;
          background: #fff;
          position: absolute;
          bottom: -10px;
          left: -9px;
          width: 30px;
        }
      }
    }
  }

  .views-row {
    margin-bottom: 0 !important;
  }

  .frontpage-teaser.event-teaser {
    .teaser-info {
      display: flex;
      justify-content: flex-end;

      h3.title-text {
        font-size: 32px;
      }
    }
  }
}

.skyblue {
  background: #4cb2ea;
}

.yellow {
  background: #eb983f;
}
