body {
  font-family: 'Cooper Hewitt', sans-serif;
  padding-top: 0;
}

h1 h2 h3 h4 h5 h6 {
  font-family: 'Cooper Hewitt', sans-serif;
}

ul {
  margin: 0;

  li {
    margin: 0;
    list-style: none;
  }

  &.menu {
    li {
      margin: 0;
      list-style: none;
    }
  }
}

a {
  color: white;

  &.underline {
    font-size: 17px;
    font-weight: 700;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      height: 2px;
      width: 100%;
      background-color: white;
    }

    &:hover {
      &::before {
        height: 3px;
      }
    }
  }

  &:hover {
    color: white;
  }
}

.main-info {
  width: 100%;
  height: 100%;
}
