body {
  font-family: 'Cooper Hewitt', sans-serif;
  padding-top: 0;

  &.front {
    padding-top: 80px;
  }

  &.menu-is-open {
    padding-top: 0;
  }
}

ul {
  li {
    list-style: none;
  }

  &.menu {
    li {
      margin: 0;
      list-style: none;
    }
  }
}

a {
  color: white;
}
