 body.page-fraedsla {
  .site-header {
    .topbar {
      background-color: #EB983F;
    }
    .navigation-wrapper {
      background-color: #EB983F;
    }
    .user-menu {
      background-color: #EB983F;
    }
  }

  .bbs-layout-content {
    .menu-wrapper {
      background-color: transparent;
    }
    .logo-wrapper {
      background-color: #EB983F;
    }
    .secondary-content {
      .slick-arrow {
        background-color: #EB983F;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: #EB983F !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: #EB983F !important;
      }
    }
    .tertiary-content {
      .slick-arrow {
        &::after {
          background-color: #EB983F !important;
        }
      }
    }
  }
}
