body.front {
  .site-header {
    .topbar {
      background-color: #b03033;
    }
    .navigation-wrapper {
      background-color: #b03033;
    }
    .user-menu {
      background-color: #b03033;
    }
  }

  .bbs-layout-content {
    .menu-wrapper {
      background-color: #b03033;
    }
    .logo-wrapper {
      background-color: #b03033;
    }
    .secondary-content {
      .slick-arrow {
        background-color: #b03033;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: #b13135 !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: #b13135 !important;
      }
    }
    .tertiary-content {
      .slick-arrow {
        &::after {
          background-color: #b13135 !important;
        }
      }
    }
  }
}
