body.front {
  .site-header {
    .topbar {
      background-color: #b03033;
    }
    .navigation-wrapper {
      background-color: #b03033;
    }
  }

  .bbs-layout-content {
    .menu-wrapper {
      background-color: #b03033;
    }
    .logo-wrapper {
      background-color: #b03033;
    }

    .quicktabs-tabs {
      & .active a {
        color: #b13135 !important;
      }
    }

    .carousel-list-tabs {
      & .active a {
        color: #b13135 !important;
      }
    }
  }
}
