body.front {
  .site-header {
    .topbar {
      background-color: #b03033;
    }
    .navigation-wrapper {
      background-color: #b03033;
    }
  }

  .bbs-layout-content {
    .slick-arrow {
      background-color: #b03033;
    }
    .menu-wrapper {
      background-color: #b03033;
    }
    .logo-wrapper {
      background-color: #b03033;
    }
  }
}
