body.page-innblastur {
  .site-header {
    .topbar {
      top: 0;
      background-color: #99C355;
    }
    .navigation-wrapper {
      background-color: #99C355;
    }
    .user-menu {
      background-color: #99C355;
    }
  }

  .bbs-layout-content {
    .menu-wrapper {
      background-color: #99C355;
    }
    .logo-wrapper {
      background-color: #99C355;
    }
    .secondary-content {
      .slick-arrow {
        background-color: #99C355;
      }
    }
    .quicktabs-tabs {
      & .active a {
        color: #99C355 !important;
      }
    }
    .carousel-list-tabs {
      & .active a {
        color: #99C355 !important;
      }
    }
    .tertiary-content {
      .slick-arrow {
        &::after {
          background-color: #99C355 !important;
        }
      }
    }
  }
}
