@import '../base';

.page-libraries, .page-bokasofn {
  padding-top: 20px;

  .topbar {
    background-color: #225CA4;
  }

  .navigation-wrapper {
    background-color: #225CA4;
  }

  .pane-bbs-libraries-ding-library-libraries-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: $content-width;
    margin: 120px auto;
    padding: 0 20px;

    .library-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      a {
        color: white;
      }

      .views-row {
        border: none;

        &:nth-of-type(6n+1) {
          .library-items {
            background-color: #B03033;
          }
        }

        &:nth-of-type(6n+2) {
          .library-items {
            background-color: #E36D38;
          }
        }

        &:nth-of-type(6n+3) {
          .library-items {
            background-color: #99C355;
          }
        }

        &:nth-of-type(6n+4) {
          .library-items {
            background-color: #5F338C;
          }
        }

        &:nth-of-type(6n+5) {
          .library-items {
            background-color: #EB983F;
          }
        }

        &:nth-of-type(6n+6) {
          .library-items {
            background-color: #47A49D;
          }
        }
      }

      .library-items {
        padding: 0;
        margin: 0 10px;
        color: white;

        .library-image {
          width: 380px;
          height: 270px;
          margin-top: -1px;

          background-repeat: no-repeat;
          background-position: center;
          background-size: auto 100%;
        }

        .library-icons {
          padding: 0 8px;
          background-repeat: no-repeat;
          background-size: 14px;
        }

        .text-wrapper {
          padding: 30px;

          .title {
            font-size: 24px;
            font-weight: 700;
            line-height: 40px;
          }

          .info-wrapper {
            display: flex;

            .info {
              width: 100%;

              .field {
                padding-left: 10px;
              }

              .address {
                display: flex;
                padding: 10px 0;
              }

              .opening-hours-wrapper {
                position: relative;
                padding: 10px 0;

                .icon {
                  position: absolute;
                  left: 0;
                  top: 7px;
                  font-size: 32px;
                  margin-left: -8px;
                }

                .opening-hours-toggle {
                  padding-left: 27px;
                }

                .libraries-opening-hours {
                  position: relative;
                  padding-top: 20px;

                  .opening-hours-table {

                    .even {
                      background-color: rgba(0, 0, 0, 0);
                    }
                    .odd {
                      background-color: rgba(0, 0, 0, 0.08);
                    }

                    .opening-hours-table-notice {
                      color: white;
                    }
                  }

                  .button-next {
                    &::after {
                      color: white;
                      background-color: rgba(0, 0, 0, 0.16);
                    }
                  }

                  .button-previous {
                    float: left;

                    &::after {
                      color: white;
                      background-color: rgba(0, 0, 0, 0.16);
                    }
                  }
                }
              }

              .country {
                display: none;
              }
              .addressfield-container-inline {
                display: none;
              }
            }
          }
        }

        .contact-wrapper {
          display: flex;

          .field {
            margin-left: 10px;
          }

          .telephone {
            display: flex;
            justify-content: center;
            flex: 1;
            padding: 20px;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.08);
          }

          .email {
            display: flex;
            justify-content: center;
            flex: 1;
            padding: 20px;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.12);
          }
        }
      }
    }
  }
}
