body.page-bokmenntir {
  .site-header {
    .topbar {
      top: 0;
      background-color: #47A49D;
    }
    .navigation-wrapper {
      background-color: #47A49D;
    }
  }

  .bbs-layout-content {
    .slick-arrow {
      background-color: #47a49d;
    }
    .menu-wrapper {
      background-color: #47a49d;
    }
    .logo-wrapper {
      background-color: #47a49d;
    }
  }
}
