.page-nyheder,
.page-bibliotek,
.page-toxonomy {
  .left-and-main-content {
    display: flex;
    justify-content: center;

    .layout-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      max-width: 1200px;

      .secondary-content {
        width: 33%;
        padding-right: 50px;

        ul {
          li {
            a::after {
              background-color: #4CB2EA;
            }
          }
        }
      }
    }
  }
}
