.pane-ting-object {
  padding: 0 20px;
  max-width: 1200px;
  margin: auto;

  .ting-object-wrapper-inner {
    display: flex;

    .ting-object-left {
      padding-right: 20px;
    }
  }

  @media screen and (max-width: 720px) {
    .ting-object-wrapper-inner {
      flex-direction: column;
    }
  }
}

.pane-serendipity-ting-object {
  padding: 0 20px 100px;
  max-width: 1200px;
  margin: auto;
}
