.page-user {
  .left-and-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    .layout-wrapper {
      flex-direction: row;
      align-items: flex-start;
      max-width: 1200px;

      .secondary-content {
        width: auto;
        margin-right: 100px;
      }

      .primary-content {
        width: auto;
      }
    }
  }
  @media screen and (max-width: 720px) {
    .left-and-main-content {
      .layout-wrapper {
        flex-direction: column;
      }
    }
  }
}
